@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

.btn-main {
  color: #fff;
  background: transparent;
  padding: 15px 25px;
  border: 2px solid #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer; }

  @media (max-width: 767px) {
    .btn-main {
      padding: 12px 18px;
      font-size: 16px; } }
  .btn-main:hover, .btn-main:focus {
    background-color: #fff;
    color: #333 !important;
    text-decoration: none; }
  .btn-main i {
    margin-left: 15px; }

.btn-custom {
  background-color: #76b6ff;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 0;
  cursor: pointer; }
  .btn-custom:hover, .btn-custom:focus {
    background-color: #439bff;
    color: #fff;
    text-decoration: none; }

.spinner {
  text-align: center;
  padding: 50px 0; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }
  .lds-ring div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #76b6ff;
    border-radius: 50%;
    -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #76b6ff transparent transparent transparent; }
  .lds-ring div:nth-child(1) {
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s; }
  .lds-ring div:nth-child(2) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
  .lds-ring div:nth-child(3) {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s; }

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.colors .color {
  height: 13px;
  width: 13px;
  margin-right: 6px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 4px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 3px 4px 4px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 4px 3px 0px rgba(50, 50, 50, 0.5);
  list-style-type: none;
  display: inline-block; }
  .colors .color.red {
    background-color: #ff0000; }
  .colors .color.pink {
    background-color: #000000; }
  .colors .color.black {
    background-color: #000; }
  .colors .color.white {
    background-color: #fff; }
  .colors .color.blue {
    background-color: #4f7eff; }
  .colors .color.gray {
    background-color: #a8a8a8; }
  .colors .color.beige {
    background-color: #000000; }
  .colors .color.brown {
    background-color: #632e1a; }

.navbar {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .navbar .navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    @media (max-width: 767px) {
      .navbar .navbar-brand {
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0;
        margin-left: -15px; } }

    @media (max-width: 355px) {
      .navbar .navbar-brand {
        font-size: 16px;
        letter-spacing: 0; } }
    .navbar .navbar-brand:hover {
      color: #000; }
  .navbar.scrolled {
    background-color: #fff; }
    .navbar.scrolled a,
    .navbar.scrolled .navbar-brand {
      color: #000; }
      .navbar.scrolled a:hover,
      .navbar.scrolled .navbar-brand:hover {
        color: #383838; }
    .navbar.scrolled .cart-icon p,
    .navbar.scrolled .cart-icon button {
      color: #000; }
    .navbar.scrolled .cart-icon button:hover {
      color: #383838; }

.cart-icon button {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 40px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  margin-right: 1.32rem; }
  @media (max-width: 767px) {
    .cart-icon button {
      font-size: 25px; } }
  .cart-icon button:hover, .cart-icon button:focus {
    color: rgb(255, 255, 255);
    outline: none; 
    margin-right: 1rem;

  }
  
  
    .cart-icon button .badge {
      margin:19.5% 24.5% 0 0  ;
      position:absolute;
      right:-1.5rem;
      top:0%;
      content: attr(data-count);
      font-size:24%;
      padding: 0.6rem;
      border-radius:999px;
      line-height:.25em;
      color: rgb(0, 0, 0);
      ;
      text-align:center;
      min-width:0.9em;
      font-weight:bolder;
      background: white;
      border-style:solid;
    background-color:white;
  
  
  }

    
    @media (max-width: 767px) {
      .cart-icon button .badge {
        font-size: 10px;
      color:#000 } }



.cart-icon p {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  @media (max-width: 767px) {
    .cart-icon p {
      font-size: 12px; } }

.header {
  /* background: url(../src/img/bg-shoes.jpg) no-repeat center; */
  background-size: cover;
  min-height: 100vh;
  max-height: 100vh; }
  .header .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    min-height: 100vh;
    max-height: 100vh;
    color: #fff; }
  .header h1 {
    font-family: 'Great Vibes', cursive;
    width: 100%;
    text-align: center;
    font-size: 80px; }
    @media (max-width: 767px) {
      .header h1 {
        font-size: 40px; } }
  .header h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    letter-spacing: 1px; }
    @media (max-width: 767px) {
      .header h2 {
        font-size: 22px; } }


.products {
  background-color: #fff0e7;
  padding: 50px 0; }
  .products .options select {
    border-radius: 0;
    color: #6d6d6d;
    border: 1px solid #ebebeb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: #fff url(../src/img/down-arrow.png) no-repeat center right 10px;
    background-size: 12px; }
    .products .options select:focus {
      border-color: #b8b8b8;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #333; }
  .products .card {
    border: 0;
    border-radius: 0.85rem;
    margin: 20px 0; }
    .products .card .price {
      margin-bottom: 8px;
      color: #002f6d;
      font-weight: 700; }
    .products .card .card-title {
      font-size: 17px; }
  .products ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    font-size: 13px; }
  .products .sizes li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #e6e6e6; }
  .products .pagination-nav {
    width: 100%; }
    .products .pagination-nav .page-item.active .page-link {
      background-color: black;
      border-color: black; }
    .products .pagination-nav .page-link {
      border-radius: 0 !important; }
      .products .pagination-nav .page-link:hover {
        background-color: #ffdbe4; }

.cart {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear; }
  .cart.transparent {
    opacity: 0;
    z-index: -1; }
  .cart .cart-inside {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 450px;
    height: 100%;
    padding: 30px 20px;
    background-color: #fff;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    transition-delay: 0.05s; }
    @media (max-width: 767px) {
      .cart .cart-inside {
        padding: 25px 15px; } }
    @media (max-width: 355px) {
      .cart .cart-inside {
        padding: 18px 15px; } }
    .cart .cart-inside.active {
      right: 0; }
    .cart .cart-inside .close {
      position: absolute;
      top: 0px;
      right: 15px;
      font-size: 50px;
      outline: none;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .cart .cart-inside h2 {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      margin: 0 0 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #ebebeb; }
      @media (max-width: 767px) {
        .cart .cart-inside h2 {
          font-size: 20px;
          margin-bottom: 10px;
          padding-bottom: 15px; } }
    .cart .cart-inside h3 {
      text-align: center;
      font-size: 20px; }
    .cart .cart-inside h4 {
      font-size: 17px;
      font-weight: 700; }
    .cart .cart-inside p {
      font-size: 14px;
      margin-bottom: 10px; }
    .cart .cart-inside .items .img-wrapper {
      max-width: 60px;
      float: left;
      margin-right: 15px; }
    .cart .cart-inside ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .cart .cart-inside ul li {
        margin-bottom: 10px;
        padding: 15px;
        border: 1px solid #ebebeb;
        position: relative; }
        .cart .cart-inside ul li .close {
          font-size: 30px;
          color: #dd0000;
          top: 8px; }
          .cart .cart-inside ul li .close:hover, .cart .cart-inside ul li .close:focus {
            color: #8d0000; }
      .cart .cart-inside ul .quantity .btn {
        padding: 0 0 3px;
        width: 25px;
        height: auto;
        margin: 0 4px;
        background-color: transparent;
        font-weight: 700;
        color: #439bff;
        border-radius: 0;
        border: 1px solid #439bff; }
        .cart .cart-inside ul .quantity .btn:hover, .cart .cart-inside ul .quantity .btn:focus {
          background-color: #439bff;
          color: #fff; }
      .cart .cart-inside ul .price {
        font-weight: 700;
        color: #002f6d; }
    .cart .cart-inside .total-amount {
      border-top: 1px solid #ebebeb;
      padding-top: 30px;
      margin-top: 30px; }
      @media (max-width: 767px) {
        .cart .cart-inside .total-amount {
          padding-top: 20px;
          margin-top: 20px; } }
      @media (max-width: 355px) {
        .cart .cart-inside .total-amount {
          padding-top: 8px;
          margin-top: 0; } }
      .cart .cart-inside .total-amount p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        @media (max-width: 355px) {
          .cart .cart-inside .total-amount p {
            margin-bottom: 3px; } }
    .cart .cart-inside .btn-custom {
      border: 0; }
      @media (max-width: 355px) {
        .cart .cart-inside .btn-custom {
          padding: 8px 20px;
          font-size: 14px; } }
      .cart .cart-inside .btn-custom.disabled {
        opacity: 0.6;
        cursor: not-allowed; }

.footer {
  text-align: center;
  padding: 8px 0;
  font-size: 13px; }
  .footer p {
    margin-bottom: 5px; }


    .verticleLine {
      height: -webkit-fill-available;
      border-right: 2px solid #838383;
      position: absolute;
      right: 1%;
      padding-right: 19%;
    }




    :root {
      --white: #ffffff;
      --blue: #4437ff;
      --blue-light: #4bc9f0;
      --blue-dark: #1a10b1;
      --purple: #9757d7;
      --purple-light: #cdb4db;
      --pink: #ef466f;
      --green: #45b26b;
      --asphalt: #e4d7cf;
      --yellow: #ffd166;
      --neutrals1: #141416;
      --neutrals2: #23262f;
      --neutrals3: #353945;
      --neutrals4: #777e90;
      --neutrals5: #b1b5c3;
      --neutrals6: #e6e8ec;
      --neutrals7: #f4f5f6;
      --neutrals8: #fcfcfd;
    }
    

 	
    nav .navbar-collapse {
      position: fixed;
      top: 56px;
      background: #343a40;
      right: -100%; /* pull the menu out of the viewport from right */
      width: 100vw;
      height: 100vh;
      display: block;
      transition: right 0.3s ease; /* transition for smooth sliding */
    }
    
    nav .navbar-collapse.show {
      right: 0; /* push the menu back to viewport */
    }
    




    @media (max-width: 768px) {
      #hideOnMobile{
        display: none;
      }
      #displayOnMobile{
        display: contents!important
      }

      
      .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cline x1="3" y1="12" x2="27" y2="12" stroke="%23333" stroke-width="2" stroke-linecap="round" /%3E%3Cline x1="3" y1="18" x2="27" y2="18" stroke="%23333" stroke-width="2" stroke-linecap="round" /%3E%3Cline x1="3" y1="24" x2="27" y2="24" stroke="%23333" stroke-width="2" stroke-linecap="round" /%3E%3C/svg%3E');
      }
      .navbar-toggler {
        border: none;
        padding: 0.25rem;
      }
      .navbar-collapse {
        position: absolute;
        top: 56px;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 999;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      }
      .navbar-nav {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
      }
      .nav-item {
        margin: 0;
        width: 100%;
        border-bottom: 1px solid #eee;
      }
      .nav-link {
        padding: 0.5rem;
        color: #333;
        text-align: center;
      }
    }